<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Lost Dutchman Software" />
    <meta name="keywords" content="software design,software,today's japanese,today's spanish,nice bowling,design services,software design services,software studio,software solutions,app development,app developer,video game developer,video game studio,arizona software developer,mesa software developer,mesa software company,arizona software company,app development,phone app development,Android app development,single solution development,single solution developer,lost dutchman,lost dutchman software,lost dutchman mesa,lost dutchman arizona,single solution application,indie game developer,indie game studio,unity developers,unity games developers,indie developer,gamedev,game dev,alexa app" />
    <meta name="author" content="Lost Dutchman Software" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("/Content/css")
    @Scripts.Render("/bundles/modernizr")
    <link runat="server" rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="/favicon.ico" type="image/ico" />
    <link href="~/fonts/Nexa Bold.otf" rel="stylesheet" type="text/css" />
    <script src="https://use.fontawesome.com/951cb33584.js"></script>    
</head>

<body id="page-top">
    <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#page-top"><img id="logo" src="~/Content/img/navbarbrand.png" alt="Lost Dutchman Software" /></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder navbar-inverse" id="collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    
        @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Lost Dutchman Software</p>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
