
@{
    ViewBag.Title = "WyrdOfStromgard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Site = Path.GetFileName(Request.Url.ToString());
    DutchmanSite.Models.DevLogsModel Logs = new DutchmanSite.Models.DevLogsModel();
}

@section head{
    <meta name="description" content="Wyrd Of Stromgard" />
    <meta name="keywords" content="WyrdOfStromgard,Wyrd Of Stromgard,Word Of Stromgard,Wryd Of Stromgard, Wyrd Of Stromguard,Word Of Stromguard,wyrd,stromgard,stromguard,rpg,ttrpg,tabletop rpg,pen and paper rpg,dungeon world,dungeons and dragons,role playing,role playing game,Powered by the Apocalypse,pbta,dnd,adnd,viking,scandinavian,norse,rune,poetic edda,icelandic,elder edda,ragnarok,lost dutchman software,lost dutchman,lost dutchman mesa,lost dutchman arizona,mesa,arizona,kickstarter" />
    <meta name="author" content="Lost Dutchman Publishing" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="http://lostdutchmansoftware.com/Content/img/Stromgard/wyrdmasthead.jpg" />
    <meta property="og:image" content="http://lostdutchmansoftware.com/Content/img/Stromgard/wyrdmasthead.jpg" />
    <meta name="twitter:site" content="@("@softdutch")" />
    <meta name="twitter:title" content="The Wyrd of Stromgard" />
    <meta name="twitter:description" content="The Wyrd of Stromgard is a Dungeon World expansion inspired by surviving Norse literary sources. Back it on Kickstarter today!" />
    <meta property="og:title" content="The Wyrd of Stromgard" />
    <meta property="og:description" class="speakable-description" content="The Wyrd of Stromgard is a Dungeon World expansion inspired by surviving Norse literary sources. Back it on Kickstarter today!" />
    <meta property="og:url" content="http://lostdutchmansoftware.com/Home/WyrdOfStromgard">
    <meta property="og:type" content="website" />
    <link href="~/Content/WyrdOfStromgard.css" rel="stylesheet" type="text/css" />
}

<nav id="navbarLinks" class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom" style="background-color: #222222;">
    <a class="navbar-brand" href="~/Home/Index"><img id="logo" class="img-fluid" src="~/Content/img/Navbar/navbarbrandpub.png" alt="Lost Dutchman Publishing" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link AnchorScroll" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link AnchorScroll" href="#media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link AnchorScroll" href="#buy">Buy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link AnchorScroll" href="#devlog">Devlog</a>
            </li>
        </ul>
    </div>
</nav>
<span class="anchor" id="about"></span>
<section id="lander">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="well">
                    <img class="img-fluid" src="~/Content/img/Stromgard/WyrdLogoTrans.png" align="middle" style="padding-right:15px; padding-left:15px; padding-top:5px;" id="Main Logo" />
                    <br />
                    <br />
                    <p>The Wyrd of Stromgard is a Dungeon World expansion inspired by surviving Norse literary sources. </p>

                    <p>Built from equal parts literature, lore, and legend, Stromgard is a broad world of magic and titanic threats, gods, monsters, and oracles.  Above all, it is a world of discovery and heroism, and of great opportunities for those wishing for the chance to prove their greatness.</p>

                    <p>Using the Dungeon World ruleset, The Wyrd of Stromgard is an elaborate stage setting and character cast with everything you need to have the epics of ancient Vikings ready to play at your fingertips.</p>
                    <br />
                </article>
            </div>
        </div>
    </div>
</section>

<div id="folio">
    <div class="container">
        <span class="anchor" id="media"></span>
        <div class="row">
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioDungeonWorld">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/Stromgard/DWtile.png" alt="Dungeon World" />
                </a>
                <div class="folio-caption">
                    <h2>Dungeon World</h2>
                    <p class="text-muted">Check out how Wyrd of Stromgard runs and what keeps it clean, accessible, and high-impact.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioCharaClasses">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/Stromgard/Charatile.png" alt="Character Classes" />
                </a>
                <div class="folio-caption">
                    <h2>Player Classes</h2>
                    <p class="text-muted">These classes are powerful, flexible archetypes based on major players from Norse myth.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioRaceClasses">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/Stromgard/Racetile.png" alt="Racial Classes" />
                </a>
                <div class="folio-caption">
                    <h2>Racial Classes</h2>
                    <p class="text-muted">Playable classes based on powerful mythological races.  Develop your skillset based on your culture and innate powers.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <span class="anchor" id="mediaLink"></span>
        <div class="row">
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioStromgard">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/Stromgard/Maptile.png" alt="Map" />
                </a>
                <div class="folio-caption">
                    <h2>Stromgard</h2>
                    <p class="text-muted">Learn about Stromgard's societies and lore.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioMonsters">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/Stromgard/Monstertile.png" alt="Monsters" />
                </a>
                <div class="folio-caption">
                    <h2>Monsters</h2>
                    <p class="text-muted">Stromgard is full of horrifying nightmare fuel and threats of apocalyptic proportions.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioInspiration">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/Stromgard/Inspotile.png" alt="Inspiration" />
                </a>
                <div class="folio-caption">
                    <h2>Inspiration</h2>
                    <p class="text-muted">Stromgard was borne of a rich mythos and love of ancient lore.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>

<div id="buy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="well">
                <br />
                        <a href="https://lostdutchman.itch.io/the-wyrd-of-stromgard">
                        <img src="~/Content/img/Stromgard/sitelogo.png" class="img-fluid" alt="Pre-Orders Available on Itch.io!" />
                    </a>
                        <br />
                        <br />
                        <br />
                            <div class="col-lg-8 offset-2">
                                <img src="~/Content/img/Stromgard/physbook.png" class="img-fluid" />
                            </div>
                            <div class="col-lg-8 offset-2">
                                <p>"Built on the Dungeon World ruleset, the Wyrd of Stromgard is an expansion that provides everything you need to run epic campaigns based on the Norse mythological canon.</p>

                                <p>Heavily based on surviving Norse literary sources like the Poetic and Prose Eddas, Beowulf, and the Icelandic Sagas, Stromgard is a broad world of magic and titanic threats, of gods and monsters and oracles.  Above all, it is a world of discovery and heroism, of opportunities for those wishing for the chance to prove their greatness.</p>

                                <p>You’ll find everything you need inside to run a mythic Norse campaign on standard Dungeon World rules, including a wealth of unique and exciting Class Playbooks and a detailed (but fully customizeable) setting to make jumping straight in easy while also providing plenty of room to develop the world as you adventure."</p>
                            <br />
                                @*Refuses to resize idk
                                    <div class="col-lg-8 offset-2">
                                    <img src="~/Content/img/Stromgard/spread.png" class="img-fluid" />
                                </div>*@
                                </div>
                           <br />
                           <br />
                 </article>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>

<section id="devlog">
    <article class="well">
        <br />
        <h1 class="text-center">Devlog</h1>
        <h3 class="section-subheading">Updates on Development</h3>
        <br />
        @Html.Raw(Logs.GetLog(Site))
    </article>
</section>

<!--MailChimp Email Signup Form-->
<button class="emailIcon" data-toggle="modal" data-target="#Spam">
    <i class="fa fa-envelope fa-2x"></i>
</button>

<!--End of Visable page-->
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - Lost Dutchman Publishing</p>
</footer>

<!--MEDIA MODALS-->

<div class="folio-modal-lg modal fade" id="folioDungeonWorld" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="modal-body">
                            <h2>What is Dungeon World and why did you use it?</h2>
                            <br />
                            <br />
                            <p>The Wyrd of Stromgard is an expansion consisting of setting material and character classes for Dungeon World (created by roleplaying wizards Sage LaTorra and Adam Koebel).  We like Dungeon World because it is a sleek, modern ruleset that lets the collaborative narrative of roleplaying lead the way while the mechanics cleverly quantify contest points.  It's easy to pick up, easy to get good at, and robust enough to handle nuanced situations in very common sense ways.</p>
                            <p>Getting acquainted with Dungeon World is super easy! Just check out <a href="http://www.dungeon-world.com/">Dungeon World's</a> website for all the info you could possibly need.</p>
                            <p>One of the things Dungeon World mandates is to "draw maps, but leave blanks" and The Wyrd of Stromgard offers the perfect balance of structure and customizability to make the GM's job a little easier and simultaneously provide a fantastic, dynamic setting that play groups can alter and customize any way they please.  Even better, Wyrd of Stromgard player classes can play side by side with vanilla Dungeon World characters seamlessly and aren't dependent on the Stromgard setting to function.</p>
                            <br />
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="folio-modal-lg modal fade" id="folioCharaClasses" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="modal-body">
                            <h2>Character Classes</h2>
                            <br />
                            <p>The Wyrd of Stromgard boasts 5 unique player classes based off mythical archetypes from Norse lore.  Each class represents a wide spectrum of specific narrative feels depending on build and play style.  Movesets were derived from legends and tales, representing what amazing deeds these characters accomplished in their larger than life stories.</p>
                            <a href="https://c1.staticflickr.com/5/4848/31960920028_a2562f0b95_b.jpg"><img style="padding: 10px 20px 10px 0px; float: left;" src="~/Content/img/Stromgard/bearskin.png" class="img-fluid" /></a><h3>The Bearskin</h3><p>In the heat of battle they succumb to their bloodrage, transforming them from mortal warrior to a nearly-impervious force of sheer destruction.  The Bearskin cannot keep up their frenzy forever, however, and they crash hard.  A Bearskin's allies also learn quickly to give them room during a fight, lest they wind up amongst the body count.</p>
                            <h3>The Skald</h3>
                            <p>The Skald is a lorekeeper and academic, a highly valued member of society by all classes and creeds.  People believe that Skalds hold great magic in their words and they are often consulted as mediators and regarded as trustworthy enough to have the final say in many grave matters.  Skalds will find it easy to leverage their social status in most situations, from deescalating combat to intentionally inflaming it.  Skalds are also talented fighters in their own right and can hold their own in a hairy situation.</p>
                            <h3>The Hunter</h3>
                            <p>Hunters are devoted to a ghastly phenomenon called The Wild Hunt- a mysterious happening comprised of a demonic hunting party rampaging across the land, dragging unpunished wrongdoers out of their hiding places to a purgatory realm for the dishonorable dead.  The Hunter is a vigilante, adept at avoiding attention if necessary but above all else, they are a hard hitting, sadistic fighter trained to debilitate their enemies.  They can be quite feral and bloodthirsty and some Hunters are known for very public assassinations.</p>
                            <h3>The Stormcaller</h3>
                            <p>A powerful elementalist, the Stormcaller is a conduit for the natural forces of destruction in the world.  They can breathe life into ice and snow, summon storms, master the art of lightning step, produce magical weapons, even throw the cycle of seasons out of balance.  A single Stormcaller could make a small fleet of ships utterly unstoppable and their powers are highly sought after.</p>
                            <h3>The Crone</h3>
                            <p>Not many hold the same level of simultaneous fear and respect a Crone does.  Regarded as wisepeople and skilled herbalists, they're also seen as unpredictable and wildly powerful pseudo-deities that could just as easily cause a fatal disease as cure it.  To their credit, a Crone does usually conceal quite the array of awful tricks up their sleeves- blights, sickness, mind reading, shadow travel, curses, and Hel knows what else.  Crones may look like a walking pile of dirty robes more often than not, but there is real and tangible terror hiding in that slight form.</p>
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="folio-modal-lg modal fade" id="folioRaceClasses" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <h2>Racial Classes</h2>
                            <p>The standard classes of Wyrd may be played by any semi-mortal race you choose- elves, dwarves, humans, gnomes, halflings, etc- and instead of the "Racial" starting move of standard Dungeon World, we've replaced it with a more open "Background" move, thereby making all classes available to all common races and alignments.</p>
                            <p>But The Wyrd of Stromgard also includes 5 racial classes.  These characters are, in some cases, literal demigods and come with unique backgrounds that make them unable to pick up traditional class abilities but are typically more powerful than the average bear, so to speak.  Racial Classes also come with a few hefty vulnerabilities to temper their strength a little, making them an ideal play choice for those looking for a little challenge.</p>
                            <br />                                                              
                        <a href="https://c1.staticflickr.com/5/4908/44014996930_b8f5d62a4b_b.jpg"><img style="padding: 10px 20px 10px 0px; float: left;" src="~/Content/img/Stromgard/fae.png" class="img-fluid" /></a><h3>The Fae</h3><p>The Fae are a varied people with many physical forms and inclinations but they all have agendas and they are all skilled at manipulation.  With unique setbacks like being unable to touch pure iron or stand the sound of bells, individual Fae make the most of their skills by entrancing mortals and magically binding them to contractual terms.  They'll also straight up shank you if they need.</p>
                            <h3>The Troll</h3>
                            <p>Trolls are a  huge, resilient people who make their homes in the mountain foothills of the world... which are slowly being overrun with humans and other mortals, building villages and cutting timber.  Trolls are hated, told as nighttime stories to misbehaving children, and for the most part they're hunted on sight.  But they're immensely powerful, could tear a fortified wall down with their bare hands, and fuel their monstrous regenerative powers by consuming huge amounts of food.  Their one weakness is the sun, whose warm light will cause flesh to seize and petrify almost instantly.</p>
                            <h3>The Dvergr</h3>
                            <p>The Dvergr are closely related to common dwarves and share some of their culture.  They are innately magical, however, and retain their more primal forms.  They are creatures of equal parts mundane flesh and living rock, an insular people that have a pragmatic approach to honor and oaths that makes it somewhat difficult to mesh with others.  Their affinity for the earth makes them the best smiths in the land and their deep connection to the higher gods make them an unorthodox but stalwart party addition.</p>
                            <h3>The Alfir</h3>
                            <p>Literally, the Light Elves.  The Alfir are a subrace of the Vanir, the lesser gods who don't reside is Asgard.  After several Vanir/Aesir conflicts, the Alfir have thrown their lot in with the power hierarchy coming out of Asgard.  They believe strongly that order and governance will bring all the realms into a peaceful age.  Above all they hate those who seek to keep the world wild and chaotic- personified by their almost universal predjudice against J&oumlntar and any who carry their blood.  Most mortal elves and even some rural humans worship the Alfir in some capacity.</p>
                            <h3>The Jotunnborn</h3>
                            <p>The J&oumltunnborn are a subgroup inside the wider J&oumltnar people, a race of pseudo-feral ice giants that- as a whole- reject the spread of civilization and hold true to the laws of nature and beasts.  Many J&oumltnar openly and violently rebel against the gods, giving rise to the popular belief that they are actively trying to usurp the gods by going so far as to trigger the apocalypse.  However, nearly every race- even including the high gods of Asgard- intermarry with J&oumltnar, making loyalties difficult to pin down at a glance.  J&oumltunnborn are just that, the product of a J&oumltnar marriage somewhere down the line who has retained some of their 'ice giant' heritage.  Most J&oumltunnborn have difficulty integrating into groups of people because of entrenched prejudice.</p>
                               
                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                            <i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="folio-modal-lg modal fade" id="folioStromgard" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="modal-body">
                            <h2>The World</h2>
                            <p>Stromgard is a fictional realm within Midgard, the plane of mortals.  The people of Stromgard are hardy but poor and they value strength, self sufficiency, and honor.  They are a fairly lawful sort, as much as can be expected in a collection of rural settlements, but reputation and morality are weighed heavily in the communities, especially in human ones. 
                            <h3>Societies</h3>
                            <p>Stromgard is primarily populated by humans, who live in a multitude of settlements strewn about the land.  Elves and dwarves both live in Stromgard in great numbers, the former gravitating towards their forest cities and the latter burrowing into every mountain in the region.  Gnomes are also commonly found, typically living close to dwarven communities.  Halfings are also a staple of Stromgardian populations, though they typically only settle where the land is fertile and easily farmed.  More often than not, these societies tend to be racially insular to some degree, though there is no standing bad blood or open feuds between any of these groups as a whole.  Above looks and race, in Stromgard, your honor and strength say more about your worth across all communities.</p>
                            <h3>Conquest</h3>
                            <p>More than anything else, life in Stromgard is fueled by conquest and exploration.  Every spring, all of Stromgard sends out its finest sailors and most formidable warriors to find new land and sack the living hell out of it.  It is a brutal practice but the rewards and glory are plentiful.  As is the imminent danger of sea monsters, rival clans, and storms.  Warriors that bring new resources, settle far off lands or even make treaties with foreign ports are lavishly decorated on their return and their war spoils open many doors for them.</p>
                            <h3>The Nine Realms</h3>
                            <p>The gods say that the world as we know it sits spread out on the branches of a cosmic Ash tree, divided into nine separate realms, or planes, as follows:</p>
                            <div class="realms">
                            <p><strong>Asgard</strong> - Home to the Aesir gods and Odin, chief among them</p>
                            <p><strong>Vanaheim</strong> - Realm of the lesser gods, the Vanir</p>
                            <p><strong>Alfheim</strong> - Realm of the divine light elves</p>
                            <p><strong>Myrkheim</strong> - Ancestral home of the dwarven peoples</p>
                            <p><strong>Midgard</strong> - Realm of mortals, surrounded by J&oumltunheim, the icy land of the J&oumltnar</p>
                            <p><strong>Svaralfheim</strong> - Home of the rarely seen and extremely insular divine moon elves</p>
                            <p><strong>Hel</strong> - this realm, ruled by a goddess of the same name, houses the dead</p>
                            <p><strong>Niflheim</strong> - A special subrealm of Hel for the dishonorable dead</p>
                            <p><strong>Muspelheim</strong> - A plane of pure fire and ash that houses the fire giants and their god-king, Surt</p>
                            </div>
                                 
                            <h3>The Gods</h3>
                            <p>There are countless deities worshipped all over in varying capacities, but there are a few exalted powers that are ubiquitous throughout Stromgard.  Technically, even some ancient and immense J&oumltnar are considered to be gods in their own right.</p>
                            <div class="realms">
                                <p><strong>Odin</strong> - Chief among the Aesir deities.  Associated with wisdom, honorable warfare, and prophecy.  It is said that he wanders the world disguised as an old man.</p>
                                <p><strong>Thor</strong> - A noble and mighty warrior that champions honorable combat, battle prowess, and storms.  Sometimes, Thor is also associated with masculinity and virility, depending on the region.</p>
                                <p><strong>Tyr</strong> - The voice of law, logic, and reason in Asgard.  Tyr is associated with honorable glory and due process.</p>
                                <p><strong>Loki</strong> - An enigma.  Loki is considered an Aesir deity but his mixed J&oumltnar parentage make his motives difficult to understand.  Above all, Loki prizes cleverness and wits in his devotees and usually seeks to subvert convention as much as possible.  He is especially honored amongst the outcasted.</p>
                                <p><strong>Freya</strong> - The warrior goddess Freya is sometimes considered an Aesir and sometimes a Vanir, depending on the region.  She is a formidable fighter and the idol of female warriors of all races.  Freya especially looks kindly on spellweavers and helps the Valkyries sort the honorable dead.</p>
                                <p><strong>Freyr</strong> - A Vanir god of light and the god to whom the Alfir are most devoted to.  He is associated with sacral authority, the sun, the cycle of seasons, and prosperity.</p>
                            </div> 
                        <br />
                        <br />
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close
                                    </button>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="folio-modal-lg modal fade" id="folioMonsters" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="modal-body">
                            <h2>Monsters</h2>
                            <p>Stromgard is full of threats- from small and deceptively insidious to world-ending horrors that tear planes of existence apart.  You can see a few examples below:</p>   
                            <div class="clearfix">
                                <div class="imgLeft">
                                <a href="https://c1.staticflickr.com/5/4883/31960923928_27ccd6c843_b.jpg"><img src="~/Content/img/Stromgard/kelpie.png" class="img-fluid" style="padding: 0px 20px 10px 0px;" /></a>
                                </div>
                                <h3>Kelpies</h3>
                                <p>Kelpies are gross abominations that hang around bodies of water.  They lure in unsuspecting people by taking on the form of a beautiful horse or a woman in distress.  Upon touching the Kelpie, it shifts to its true form- a half rotten monstrosity that partially absorbs its victims and drags it down into the depths to consume.</p>
                            </div>  
                            <br />
                            <br /> 
                            <div class="clearfix">                                    
                                <div class="imgRight">
                                <a href="https://c1.staticflickr.com/5/4873/44014995320_f8db8b486f_b.jpg"><img src="~/Content/img/Stromgard/linnorm.png" class="img-fluid" style="padding: 0px 20px 10px 0px;" /></a>
                                </div>
                                <h3>Linnorm</h3>
                                <p>The Linnorm is a giant, maggot like relative of the dragon, that hibernates underground for long periods of time.  When awake, however, they rampage through the topsoil, leaving decay and rot behind and destroying any structure they come across.</p>
                            </div>
                            <br />
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="folio-modal-lg modal fade" id="folioInspiration" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="modal-body">
                            <h2>Literary Roots</h2>
                            <p>The Wyrd of Stromgard takes inspiration from many sources.  You can check out some of our favorite materials below as well as links to free online libraries where you can read them:</p>
                            <div class="realms">
                                <p>
                                    <strong><a src="https://en.wikisource.org/wiki/Poetic_Edda">Poetic Edda</a></strong> - The oldest collection of Norse myths.  Written in the twelfth century. 
                                </p>
                                <p>
                                    <strong><a src="https://en.wikisource.org/wiki/Prose_Edda">Prose Edda</a></strong> - A collection of tales and the Norse creation myth as compiled by Snorri Sturluson sometime in the thirteenth century, possibly as early as 1220.
                                </p>
                                <p>
                                    <strong><a src="https://www.gutenberg.org/files/16328/16328-h/16328-h.htm">Beowulf</a></strong> - Possibly one of the most important works in Western literature as it is the earliest long-form epic poem we've discovered to date.  The story is dated between 700-1000 AD and its writing is believed to have occurred somewhere between 976-1010 AD.
                                </p>
                                <p>
                                    <strong><a src="http://sagadb.org/">The Icelandic Sagas</a></strong> - Many of these shorter-form tales, which come from about 1200 AD onward, describe the Norse and Celtic peoples of Northern Europe.  These are typically less mythologically rooted and more informative of the lives of kings and heroes.
                                </p>
                                <br />
                                <br />
                                <h2>Concept and Art Design</h2>
                                <p>When actualizing the Wyrd of Stromgard, we spent a huge amount of time carefully considering how we wanted to portray something that was fundamentally intangible.  Stromgard has an identity that is familiar but it marches to the beat of its own drum and, more than anything else, we really wanted to portray Stromgard as a world full of eschewed convention and surprises.</p>
                                <p>We saw <strong><a href="https://www.elispencer.com/"> Eli Spencer's</a></strong> art for the first time early into the project, way too early to contact about getting art made and the wait was excruciating.  Her style immediately captured our imagination and we knew instantly that her rustic, occult style was exactly the kind of 'lorebook/naturalist' aesthetic we wanted the The Wyrd of Stromgard to be associated with.  Her work is emotional but subtle and she's an absolute wizard at showing the monstrous side of humanity as well as the human side of monsters.  Check her out, you will have a blast going through her work.</p>
                                <p>We trawled many art websites and social media platforms for an artist who could fit the overall look we wanted to give Stromgard's physical components.  We were quite lucky to find <strong><a href="https://camillekuo.com/">Camille Kuo's</a></strong> work.  We were floored right out of the gate.  Her work is robust and lively, full of amazing color and imagination. She designed and painted a beautiful cover for the Wyrd of Stromgard book and the huge sea serpent background for the website and GM screen.</p>
                                <p>We can't thank these talented artists enough for helping us actualize the Wyrd of Stromgard.</p>
                                    
                            </div> 
                               
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Dev log Modals-->
@Html.Raw(Logs.GetLogModal(Site))